extends ../layout

block content
    include ../mixins/reviewPanel
    div.product-profile-content
        div.product-header
            h1.product-name= product.product_name
            div.product-header
                a.button.primary(href=`/products/edit/${product.id}`) Edit
                a.button.danger(href=`/products/delete/${product.id}`) Delete
        div Rating: #{product.rating}
        p.product-description= product.description
        div
            a(href=`/products`) Back to Products
        div.reviews
            h3.reviews-header=`${product.reviews.length} Reviews`
            a.button(href = `/products/${product.id}/review/add`) Add Review

            each review in product.reviews
                +reviewPanel(review)